<div class="admin-layout">
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo">
      <img src="https://res.cloudinary.com/ddkvhnj27/image/upload/v1758400063/z7019344847597_aa447955326b74efcd30844f0ddafb97_mcbqgu.jpg" alt="GreenCharger Logo" />
      <span *ngIf="!isCollapsed">GreenCharger</span>
    </div>
    <nav class="menu">
      <ul>
        <li *ngFor="let item of menuItems" [class.active]="selectedMenuKey === item.key">
          <a [routerLink]="item.link" routerLinkActive="active" (click)="selectedMenuKey = item.key">
            <i class="anticon anticon-{{ item.icon }}"></i>
            <span *ngIf="!isCollapsed">{{ item.text }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="main-content" [class.collapsed]="isCollapsed">
    <header class="header">
      <div class="header-left">
        <button class="collapse-btn" (click)="toggleCollapsed()">
          <i class="anticon anticon-menu-fold" *ngIf="!isCollapsed"></i>
          <i class="anticon anticon-menu-unfold" *ngIf="isCollapsed"></i>
        </button>
        <div class="breadcrumb">
          <span>Admin</span> / <span>{{ selectedMenuKey | titlecase }}</span>
        </div>
      </div>
      <div class="header-right">
        <div class="header-actions">
          <select [(ngModel)]="currentTime" (change)="onTimeRangeChange($event)">
            <option value="today">Hôm nay</option>
            <option value="thisWeek">Tuần này</option>
            <option value="thisMonth">Tháng này</option>
            <option value="thisYear">Năm nay</option>
          </select>
        </div>
        <div class="user-info">
          <span>Admin User</span>
          <i class="anticon anticon-user"></i>
        </div>
      </div>
    </header>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
